#users-table {
	display: none;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

#user-list-section {
	flex: 1;

	margin-right: 20px;
}

#add-user-section {
	width: 400px;
}
